<% content_for :title, "Sign Up" %>

<div class="authentication-form-container">
  <div class="container">
    <div class="page-header">
      <h1 class="page-header-title">Sign Up</h1>
    </div>
  </div>

  <%= form_with model: @user, url: registrations_path, class: "drive-form" do |form| %>
    <%= render "shared/error_messages", object: @user, object_name: "account" %>

    <h1 class="form-title">Sign Up</h1>

    <div class="field">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, required: true, autofocus: true %>
    </div>

    <div class="field">
      <%= form.label :email_address, "Email Address" %>
      <%= form.email_field :email_address, required: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", maxlength: 72 %>
      <small>Must be at least 8 characters</small>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", maxlength: 72 %>
    </div>

    <div class="actions">
      <%= form.submit "Sign Up", class: "button-primary" %>
      <%= link_to "Sign In", new_session_path, class: "button" %>
    </div>
  <% end %>
</div>
