<% content_for :title, "Sign Up" %>

<div class="authentication-form-container">
  <%= form_with model: @user, url: registrations_path, class: "drive-form" do |form| %>
    <%= render "shared/error_messages", object: @user, object_name: "account" %>

    <%= render "shared/auth_header", title: "Create your account", subtitle: "Start tracking your driving hours." %>

    <div class="field-row">
      <div class="field">
        <%= form.label :first_name, "Driver First Name" %>
        <%= form.text_field :first_name, required: true, autofocus: true, autocomplete: "given-name" %>
      </div>

      <div class="field">
        <%= form.label :last_name, "Driver Last Name" %>
        <%= form.text_field :last_name, required: true, autocomplete: "family-name" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :email_address, "Email Address" %>
      <%= form.email_field :email_address, required: true, autocomplete: "email" %>
    </div>

    <%= render "shared/password_field", form: form, field: :password, label: "Password",
               autocomplete: "new-password", hint: "Must be at least 8 characters" %>

    <%= render "shared/password_field", form: form, field: :password_confirmation, label: "Confirm Password",
               autocomplete: "new-password" %>

    <div class="actions">
      <%= form.submit "Sign Up", class: "button-primary" %>
      <%= link_to "Sign In", new_session_path, class: "button" %>
    </div>
  <% end %>
</div>
