<% content_for :title, "Set New Password" %>

<div class="authentication-form-container">
  <%= form_with url: password_path(params[:token]), method: :put, class: "drive-form" do |form| %>
    <%= render "shared/auth_header", title: "Set a new password",
               subtitle: "Choose a new password for your account." %>

    <%= render "shared/password_field", form: form, field: :password, label: "New Password",
               autocomplete: "new-password", hint: "Must be at least 8 characters", autofocus: true %>

    <%= render "shared/password_field", form: form, field: :password_confirmation, label: "Confirm New Password",
               autocomplete: "new-password" %>

    <div class="actions">
      <%= form.submit "Save", class: "button-primary" %>
      <%= link_to "Cancel", new_session_path, class: "button" %>
    </div>
  <% end %>
</div>
