<h2>Forgot your password?</h2>

<%= form_with url: passwords_path, class: "drive-form" do |form| %>
  <% if flash[:alert].present? %>
    <div class="error-messages">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class="notice">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_address, "Email Address" %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
  </div>

  <div class="actions">
    <%= form.submit "Email reset instructions", class: "button-primary" %>
    <%= link_to "Back to Sign In", new_session_path, class: "button" %>
  </div>
<% end %>
