<% content_for :title, "Forgot Password" %>

<div class="authentication-form-container">
  <%= form_with url: passwords_path, class: "drive-form" do |form| %>
    <%= render "shared/auth_header", title: "Reset your password",
               subtitle: "We'll email you a link to set a new one." %>

    <div class="field">
      <%= form.label :email_address, "Email Address" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
                           value: params[:email_address] %>
    </div>

    <div class="actions">
      <%= form.submit "Email reset instructions", class: "button-primary" %>
      <%= link_to "Back to Sign In", new_session_path, class: "button" %>
    </div>
  <% end %>
</div>
