<%= turbo_stream.append "sessions-list" do %>
  <%= render partial: "drive_row", collection: @sessions, as: :session %>
<% end %>

<%= turbo_stream.update "sessions-pagination" do %>
  <div id="pagination-container" class="pagination-wrapper">
    <% if @pagy.next %>
      <%= link_to @pagy.page_url(:next),
                  class: "load-more",
                  data: {
                    turbo_frame: "sessions-pagination",
                    turbo_prefetch: false
                  } do %>
        Load more<%= icon(:chevron_down, size: 16, class: "load-more-chevron") %>
      <% end %>
    <% end %>
  </div>
<% end %>

