<!DOCTYPE html>
<html>
  <head>
    <title>Ava Drive Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1><%= link_to "Ava Drive Tracker", root_path %></h1>
      </div>
    </header>

    <main>
      <div class="container">
        <% if notice.present? %>
          <div class="notice"><%= notice %></div>
        <% end %>

        <% if alert.present? %>
          <div class="alert"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container">
        <p>Illinois requires 50 hours total (including 10 hours at night)</p>
      </div>
    </footer>
  </body>
</html>
